.navbar-container{
  .contacts-button{

    background-color: transparent;
    color: #ff3301;
    border-radius: 290486px;
    border: 2px solid #ff3301;
    font-weight: 700;
    font-size: 18px;
  }
  .contacts-button:hover{
    background-color: #ff3301;
    border: 2px solid #ff3301;
    color: white;
  }
}