@import "../../styles/style.scss";

.Skills{
    height: 70vh;
    margin-bottom: 30vh;
    margin-top: 20vh;
    cursor: default;
}

.TitleContainer{
    margin-bottom: 10vh;
    text-align: center;
}

.Seperators{
    background-color: #0A2463;
    height: 0.5vh;
    width: 15vh;
    margin-top: 0.3vh;
    display: inline-flex;
    vertical-align: super;
}

.Title{
    font-size: 40px;
    font-weight: 600;
    display: inline;
    margin-left: 4vh;
    margin-right: 4vh;
}
/////////////////////////////////////////////////////
.SkillCard{
    display: inline-grid;
    background-color: #0A2463;
}

.bg{
    border-radius: 30px;
}

#first{
    background-image: url("../../images/FrontendCardBlue.png");
}

#first:hover{
    background-image: url("../../images/FrontendCard.png");
}

#second{
    background-image: url("../../images/FrontendCardBlue.png");
}

#second:hover{
    background-image: url("../../images/GraphicDesignCard.png");
}

#third{
    background-image: url("../../images/FrontendCardBlue.png");
}

#third:hover{
    background-image: url("../../images/BackendCard.png");
}

@media screen and (min-width: 0px) {
    .Title{
        font-size: 35px;
    }
    .Seperators{
        width: 7vh;
    }
    .SkillsContainer{
        text-align: center;
    }
    .SkillCard{
        margin-bottom: 5vh;
    }
    .Skills{
        height: 195vh;
        margin-bottom: 20vh;
    }
}


@media screen and (min-width: 500px) {
    .Skills{
        height: 165vh;
        margin-bottom: 30vh;
    }
}

@media screen and (min-width: 768px) {
    .Title{
        font-size: 45px;
    }
    .Seperators{
        width: 15vh;
    }
    .Skills{
        height: 150vh;
    }
    #second:hover{
        background-image: url("../../images/GraphicDesignCard2.png");
    }
}

@media screen and (min-width: 769px) {
    .Skills{
        height: 162vh;
    }
}


@media screen and (min-width: 992px) {
    .Skills{
        height: 51vh;
    }
}

@media screen and (min-width: 1024px) {
    .Skills{
        height: 51vh;
    }
}

@media screen and (min-width: 1025px) {
    .Skills{
        height: 63vh;
    }
}