@import "../../styles/style.scss";

.Resume{
    margin-bottom: 30vh;
    cursor: default;
}

.TitleContainer{
    margin-bottom: 10vh;
}

.Seperators{
    background-color: #0A2463;
    height: 0.5vh;
    width: 15vh;
    margin-top: 0.3vh;
    display: inline-flex;
    vertical-align: text-top;
}

.ComponentTitle{
    font-size: 40px;
    font-weight: 600;
    display: inline;
    margin-left: 4vh;
    margin-right: 4vh;
}

////////////////////

.ResumeContainer{
    background-color: #0A2463;
    border-radius: 30px;
    height: 300px;
    margin: 0 auto;
    width: 60%;
}

.TextTitle{
    font-size: 40px;
    font-weight: 600;
    margin-left: 4vh;
    margin-right: 4vh;
    color: white;
    padding-top: 4vh;
    text-align: center;
}

.TextDescription{
    font-size: 18px;
    font-weight: 600;
    margin-left: 4vh;
    margin-right: 4vh;
    color: white;
    padding-top: 3vh;
    text-align: center;
}

.FlagContainer{
    text-align: center;
    padding-top: 2vh;
}

.FlagENG{
    height: 75px;
    width: 75px;
    color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 4vh 0vh 0vh;
    background: url("../../images/EnglishFlag2.png") center no-repeat; 
}

.FlagENG:hover{
    box-shadow: inset 4px 4px 15px 0px #000000;
}


.FlagITA{
    height: 75px;
    width: 75px;
    color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 auto;
    background: url("../../images/ItalianFlag.png") center no-repeat; 
}

.FlagITA:hover{
    box-shadow: inset 4px 4px 15px 0px #000000;
}

@media screen and (min-width: 0px) {
    .ComponentTitle{
        font-size: 33px;
        margin-left: 2vh;
        margin-right: 2vh;
    }
    .Seperators{
        width: 7vh;
        vertical-align: super;
    }
    .TextTitle{
        font-size: 20px;
    }
    .ResumeContainer{
        width: 80%;
    }
    .Resume{
        margin-bottom: 20vh;
    }
    .TitleContainer{
        text-align: center;
    }
    .ResumeContainer{
        text-align: center;
    }
}

@media screen and (min-width: 500px) {
    .Resume{
        margin-bottom: 20vh;
    }
}

@media screen and (min-width: 1024px) {
    .ResumeContainer{
        width: 60%;
        height: 350px;
    }
    .TextTitle{
        font-size: 30px;
    }
}

@media screen and (min-width: 1025px) {
    .ResumeContainer{
        width: 60%;
        height: 310px;
    }
    .TextTitle{
        font-size: 40px;
    }
}