@import "../../styles/style.scss";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.TextAndPhoto{
    background-color: #0A2463;
    height: 90vh;
    padding-top: 4vh;
    cursor: default;
}

.Container{
    margin: 0 auto;
    text-align: center;
}

.ProfilePicContainer{
    .ProfilePic{
        margin: 0 auto;
        height: 450px;
        border-radius: 500px;
        border: solid white 2px;
    }
}

.TypeWriterName{
    margin: 50px auto 0px;
    width: 625px;
}

.TypeWriterName .TypeWriterNameText{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    font-weight: 400;
    letter-spacing: .07em; 
    color: white;
    font-size: 40px;
    font-family: 'Archivo Black', sans-serif;
    animation: 
      typing 1.75s steps(40, end),
      blink-caret .75s step-end infinite;

    @keyframes typing {
    from { width: 0 }
    to { width: 100% }
    }

    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange; }
    }
}

.DescriptionContainer{
    margin: 30px auto;
    width: 975px;
    .Description{
        color: white;
        font-weight: 500;
        font-size: 22px;
    }
}

.IconContainer{
    padding-top: 2vh;
    #Icon{
        width: 70px !important;
        height: 70px !important;
        color: white;
        border: 3px solid white;
        padding: 10px 10px 10px 10px;
        border-radius: 50%;
        transition: 0.2s;
        animation: updown 2s ease infinite;
        @keyframes updown {
            0% {
              transform: translateY(-10%);
            }
          
            50% {
              transform: translateY(10%);
            }
          
            100% {
              transform: translateY(-10%);
            }
          }
    }
}

#Icon:hover{
    color: #0A2463;
    background-color: white;
}

@media screen and (min-width: 0px) {
    .ProfilePicContainer{
        .ProfilePic{
            height: 225px;
        }
    }
    .TypeWriterName{
        width: 225px;
    }
    .TypeWriterName .TypeWriterNameText{
        overflow: unset;
        white-space: normal;
        font-size: 32px;
    }
    .TextAndPhoto{
        height: 140vh;
    } 
    .DescriptionContainer{
        width: 275px;
        .Description{
            font-size: 18px;
        }
    }
}

@media screen and (min-width: 375px) {
    .TextAndPhoto{
        height: 110vh;
    } 
    .TypeWriterName{
        width: 320px;
    }
    .DescriptionContainer{
        width: 295px;
    }
}

@media screen and (min-width: 414px) {
    .TextAndPhoto{
        height: 100vh;
    } 
}

@media screen and (min-width: 500px) {
    .TextAndPhoto{
        height: 90vh;
    } 
}

@media screen and (min-width: 768px) {
    .ProfilePicContainer{
        .ProfilePic{
            height: 425px;
        }
    }
    .TypeWriterName{
        width: 540px;
    }
    .TypeWriterName .TypeWriterNameText{
        font-size: 35px;
    }
    .TextAndPhoto{
        height: 92vh;
    } 
    .DescriptionContainer{
        width: 460px;
        .Description{
            font-size: 22px;
        }
    }
}

@media screen and (min-width: 769px) {
    .ProfilePicContainer{
        .ProfilePic{
            height: 325px;
        }
    }
    .TextAndPhoto{
        height: 91vh;
    } 
    .DescriptionContainer{
        width: 495px;
        .Description{
            font-size: 20px;
        }
    }
    .TypeWriterName .TypeWriterNameText{
        overflow: hidden;
        white-space: nowrap;
    }  
}

@media screen and (min-width: 1024px) {
    .ProfilePicContainer{
        .ProfilePic{
            height: 630px;
        }
    }
    .TextAndPhoto{
        height: 92vh;
    } 
    .TypeWriterName{
        width: 625px;
    }
    .TypeWriterName .TypeWriterNameText{
        font-size: 40px;
    }
    .DescriptionContainer{
        width: 495px;
        .Description{
            font-size: 30px;
        }
    }
}

@media screen and (min-width: 1025px) {
    .ProfilePicContainer{
        .ProfilePic{
            height: 390px;
        }
    }
    .TypeWriterName{
        width: 625px;
    }
    .TextAndPhoto{
        height: 91vh;
    } 
    .DescriptionContainer{
        width: 495px;
        .Description{
            font-size: 20px;
        }
    }
}