@import "../../styles/style.scss";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.TextAndPhoto{
    background-color: #0A2463;
    height: 88.4vh;
    padding-top: 4vh;
}

.Container{
    margin: 0 auto;
    text-align: center;
}

.ProfilePicContainer{
    .ProfilePic{
        margin: 0 auto;
        height: 450px;
        border-radius: 500px;
        border: solid white 2px;
    }
}

.TypeWriterName{
    margin: 50px auto 0px;
    width: 625px;
}

.TypeWriterName .TypeWriterNameText{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    font-weight: 400;
    letter-spacing: .07em; 
    color: white;
    font-size: 40px;
    font-family: 'Archivo Black', sans-serif;
    animation: 
      typing 1.75s steps(40, end),
      blink-caret .75s step-end infinite;

    @keyframes typing {
    from { width: 0 }
    to { width: 100% }
    }

    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange; }
    }
}


.DescriptionContainer{
    margin: 30px auto;
    width: 975px;
    .Description{
        color: white;
        font-weight: 500;
        font-size: 22px;
    }
}

.IconContainer{
    padding-top: 2vh;
    #Icon{
        width: 70px !important;
        height: 70px !important;
        color: white;
        border: 3px solid white;
        padding: 10px 10px 10px 10px;
        border-radius: 50%;
        transition: 0.2s;
        animation: updown 2s ease infinite;
        @keyframes updown {
            0% {
              transform: translateY(-10%);
            }
          
            50% {
              transform: translateY(10%);
            }
          
            100% {
              transform: translateY(-10%);
            }
          }
    }
}

#Icon:hover{
    color: black;
    background-color: white;
}