@import "../../styles/style.scss";

.Navbar {
    background-color:#0A2463;
    height: 110px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.Title{
    font-size: 22px;
    font-weight: 600;
    position: absolute;
}

.TitlePhone{
    margin-bottom: 10vh;
    font-size: 22px;
    font-weight: 600;
    position: absolute;
}

.ButtonText{
    font-weight: 600;
    padding: 5px;
}

@media screen and (min-width: 0px){
    .Navbar{
        height: 150px;
    }
    .LogoPic{
        width: 65px;
        height: 50px;
        display: flex;
        margin: -1vh auto 1vh;
    }
    .Title{
        font-size: 15px;
    }
    .ButtonText{
        width: 146px;
        font-size: 14px;
        margin-bottom: 1.5vh;
    }
}


@media screen and (min-width: 320px){
    .Navbar{
        height: 85px;
    }
    .LogoPic{
        width: 85px;
        height: 65px;
        margin-right: 5vh;
    }
    .NavbarLink{
        margin-left: -5vh;
    }
    .Title{
        display: none;
    }
    .TitlePhone{
        display: none;
    }
}

@media screen and (min-width: 375px){
    .NavbarLink{
        margin-left: -3vh;
        margin-right: 7vh;
    }
    .TitlePhone{
        display: block;
        top: 25px;
        left: 80px;
    }
}

@media screen and (min-width: 768px){
    .LogoPic{
        width: 90px;
        height: 65px;
    }
    .Navbar{
        padding-top: 5px;
        height: 95px;
    }
    .NavbarLink{
        margin-left: -5vh;
    }
    .Title{
        display: block;
        font-size: 22px;
        top: 25px;
        left: 65px;
    }
    .TitlePhone{
        display: none;
    }
    .ButtonText{
        width: 175px;
        font-size: 18px;
        margin-bottom: 1.2vh;
    }
}