@import "../../styles/style.scss";

.Navbar {
    background-color:#0A2463;
    height: 110px;
    position: sticky;
    top: 0;
}

.Title{
    margin-bottom: 10vh;
    font-size: 22px;
    font-weight: 600;
    vertical-align: super;
}

.ButtonText{
    font-weight: 600;
    margin-bottom: 2.5vh;
    margin-right: 3vh;
}